@import '../abstract/variaveis';

form {
	margin: 60px;
}

form label, form legend {
	display:block;
	font-size: $tamanho-do-texto * .5;
	margin: 0 0 10px;
}

.input-padrao {
    font-size: $tamanho-do-texto * .3;
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: $cor-terciaria;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: $cor-enviar;
	transform: scale(1.2);
}